.black-background{
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    z-index: 99;
    background-color: #190254;
    color: white;
    padding: 3rem 7rem;
}

.airplane{
    color: white;
    margin-bottom: 1.2rem;
    font-size: 2rem;
}